
<form 
#userForm="ngForm"
name="form"
(ngSubmit)="OnSubmit2()" 
novalidate>
    <div>
      <label for="UserName"> Naam </label>
      <input 
      type="text" 
      name="UserName"
      [(ngModel)]="Gebruiker!.UserName" 
      #UserName="ngModel"
      minlength="3"
      required
       />
    </div>
    <div>
      <label for="age"> Leeftijd </label>
      <input id="age" 
      type="number"  
      name="age"
      [(ngModel)]="Gebruiker!.age"
      #age="ngModel"
      required/>

      <!--Validatie div validatie velden-->
      <div *ngIf="age.invalid">
        
      </div>
    </div>
    <div>
      <label for="Image"> Afbeelding </label>
      <input id="uu" 
      type="file"  
      name="afbeelding"
      [(ngModel)]="Gebruiker!.Image"
      #Image="ngModel">
    </div>
    <div *ngIf="Gebruiker!.Image">
      <img src="{{Gebruiker!.Image}}" alt="">
    </div>
    
    <button class="button" type="submit" [disabled]="!userForm.valid">Purchase</button>
</form>

<pre>
  {{ Gebruiker |json}}
</pre>