<div class="bordered">

	<nav class="navbar navbar-expand-md navbar-light bg-light">
		<a class="m-1" routerLink="/component-a" routerLinkActive="active" ariaCurrentWhenActive="page">
			First component
		</a>
		<a class="m-1" routerLink="/component-b" routerLinkActive="active" ariaCurrentWhenActive="page">
			Second component
		</a>
		<a class="m-1" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">
			Gebruikers
		</a>
		<a class="m-1" routerLink="/a-columns" routerLinkActive="active" ariaCurrentWhenActive="page">
			Columns
		</a>
	</nav>
</div>