<p>user-list works!</p>
<button routerLink="/UserAdd">Toevoegknop</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let users of Users;let indexOfelement=index;">
          <th scope="row">{{indexOfelement}}</th>
          <td><a routerLink="{{users.UserName}}">{{users.UserName}}</a></td>
          <td>{{users.age}}</td>
          <td>@mdo</td>
        </tr>
      

    </tbody>
  </table>